$cyan:hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);
$gray: hsl(204, 43%, 93%);
$blueish: hsl(218, 22%, 67%);

$sizeSm: 8px;
$sizeMd: 15px;
$sizeLg: 20px;
$sizeXl: 35px;

$shadowPrimary:0px 4px 12px 1px rgb(159, 159, 159);